<%- include('partials/navbar') %>
  <div class="sensors">
    <div id="destination" class="box">
      <div><b>Desired Position</b></div>
      <p>Motor1 = <%= data.motor1 %>
      </p>
      <p>Motor2 = <%= data.motor2 %>
      </p>
      <p>Motor3 = <%= data.motor3 %>
      </p>
      <p>Motor4 = <%= data.motor4 %>
      </p>
      <p>Motor5 = <%= data.motor5 %>
      </p>
      <p>Motor6 = <%= data.motor6 %>
      </p>
    </div>
    <div id="position" class="box">
      <div><b>Current Position</b></div>
      <p>Motor1 = </p>
      <p>Motor2 = </p>
      <p>Motor3 = </p>
      <p>Motor4 = </p>
      <p>Motor5 = </p>
      <p>Motor6 = </p>
    </div>
    <div id="torque" class="box">
      <div><b>Torque</b></div>
      <p>Motor1 = </p>
      <p>Motor2 = </p>
      <p>Motor3 = </p>
      <p>Motor4 = </p>
      <p>Motor5 = </p>
      <p>Motor6 = </p>
    </div>
    <div id="rpm" class="box">
      <div><b>RPM</b></div>
      <p>Motor1 = </p>
      <p>Motor2 = </p>
      <p>Motor3 = </p>
      <p>Motor4 = </p>
      <p>Motor5 = </p>
      <p>Motor6 = </p>
    </div>
  </div>
  <script src="../js/app.js"></script>
  </body>

  </html>